# app
fastapi==0.68.2
uvicorn==0.11.7
pydantic==1.8.2
email-validator==1.1.1
python-multipart==0.0.5
requests==2.26.0
pandas

# db
databases[postgresql]==0.3.1
SQLAlchemy==1.4.25
alembic==1.7.4

# auth
pyjwt==2.0.1
passlib[bcrypt]==1.7.2

# dev
pytest==6.2.5
pytest-asyncio==0.14.0
httpx==0.16.1
asgi-lifespan==1.0.1
